body{
  font-family: 'Arial', 'sans-serif';
  background-color: #EEFFEE;
}

li{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  list-style-type: none;
}
  
h1{ 
  font-family: 'Roboto', Garamond, serif;
  text-align: center;
}

h2{
   font-family: 'Amatic SC', Arial, sans-serif;
  font-size: 2em;
  text-align: center;
}
  
