*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: Assistant, sans-serif;
}

header h1{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
  color: #111;
}


.parallelogram{
  background: #EEE;
  padding: 2em;
  transform: skew(-20deg);
}


nav ul{
  list-style-type: none;
}

nav li{
  /* border: solid green; */
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav a{
  /* border: solid red; */
  text-decoration: none;
  color: #444;
  text-align: start;
}

nav a.highlighted{
  color: #AAA;
}

nav.secondary ul{
  background-color: #555;

}

nav.secondary a{
  color: #EEE;
  transform: skew(20deg);
}

nav.secondary a:highlighted{
  color: #AAA;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style-type: none;
}

img{
  max-width: 100%;
  height: auto;
}

h2{
  font-size: 2em;
}

.case-study h2{
  font-size: 3em;
}

.floating-box{
  background-color: #EEE;
  font-size: 1.5em;
  font-weight: 100;
  padding: 2em;
}

.case-study .reflections{
  /* background-color: #AAA;
  width: 100%;
  margin: 0; */
}

footer{
  text-align: center;
  background-color: #333;
  color: #EEE;
}

footer a{
  color: #EEE;
}
